*{
font-family: "Roboto", sans-serif;
}
.sizi{
    width: 45px;
    height: 45px;
}
.width{
    width: 145px;
}
.khani{
    width: 200px;
    height: 150px;
}
.khani-fise{
    width: 170px;
    height: 150px;
}
 /* <div class="d-flex justify-content-center gap-4">
            <button class="btn btn-outline-warning text-black fw-medium rounded-5 width">Scpecial Food</button>
            <button class="btn btn-outline-warning text-black fw-medium rounded-5 width">Maxican</button>
            <button class="btn btn-outline-warning text-black fw-medium rounded-5 width">italic</button>
            <button class="btn btn-outline-warning text-black fw-medium rounded-5 width">Japaniss</button>
            <button class="btn btn-outline-warning text-black fw-medium rounded-5 width">Drinks</button>
            <button class="btn btn-outline-warning text-black fw-medium rounded-5 width">Lunch</button>
            <button class="btn btn-outline-warning text-black fw-medium rounded-5 width">More item +</button>
        </div> */